************************************************************************************
*                                                                                  *
* DRILL TAPE SUMMARY REPORT                                                        *
*                                                                                  *
* E:\00.CAD\00.PROGETTI\METALTRONICA\25-334-X (PFC )\25-334-1 (PFC )\25-334-1.MAX  *
* Tue Feb 10 15:24:54 2026                                                         *
*                                                                                  *
************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       79       269      200      100                                                                                 
T2       276      615      200      100                                                                                 
T3       394      25       200      100                                                                                 
T4       433      19       200      100                                                                                 
T5       472      8        200      100                                                                                 
T6       590      4        200      100                                                                                 
T7       591      38       200      100                                                                                 
T8       630      4        200      100                                                                                 
T9       669      4        200      100                                                                                 
T10      1063     4        200      100                                                                                 
T11      1378     8        200      100                                                                                 
T12      1575     6        200      100                                                                                 
T13      2362     4        200      100                                                                                 
