********************************************************************
*                                                                  *
* DRILL TAPE SUMMARY REPORT                                        *
*                                                                  *
* D:\00.LAVORI IN CORSO\METALTRONICA\25-334-0 (PFC )\25-334-0.MAX  *
* Sun Jun 01 14:08:27 2025                                         *
*                                                                  *
********************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       79       249      200      100                                                                                 
T2       394      10       200      100                                                                                 
T3       433      42       200      100                                                                                 
T4       472      2        200      100                                                                                 
T5       512      19       200      100                                                                                 
T6       590      24       200      100                                                                                 
T7       630      2        200      100                                                                                 
T8       669      4        200      100                                                                                 
T9       709      2        200      100                                                                                 
T10      1063     6        200      100                                                                                 
T11      1378     10       200      100                                                                                 
T12      1575     6        200      100                                                                                 
T13      2362     4        200      100                                                                                 
